<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monkberry Standalone</title>
</head>
<body>
<script src="monkberry.min.js"></script>
<script type="text/monkberry" id="todos">
    <ol>
        {% for i, todo of todos %}
            <li>
                <input type="checkbox" checked="{{ todo.complete }}" data-index="{{ i }}">
                {% if todo.complete %}
                    <s>{{ todo.text }}</s>
                {% else %}
                    {{ todo.text }}
                {% endif %}
            </li>
        {% endfor %}
    </ol>
    <form>
        <input type="text">
        <button type="submit">Add #{{ todos.length + 1 }}</button>
    </form>
</script>
<script>
    document.addEventListener('DOMContentLoaded', load);

    function load() {
        var state = {
            todos: [
                {text: 'do something', complete: true},
                {text: 'do something more', complete: true},
                {text: 'relax', complete: false}
            ]
        };

        var view = Monkberry.render(todos, document.body);
        var input = view.querySelector('input');

        view.update(state);

        view.on('submit', 'form', function (event) {
            event.preventDefault();
            state.todos.push({text: input.value, complete: false});
            view.update(state);
            input.value = '';
        });

        view.on('click', '[data-index]', function (event) {
            var i = event.target.dataset.index;
            state.todos[i].complete = !state.todos[i].complete;
            view.update(state);
        });
    }
</script>
</body>
</html>
